 /*NOTE : This file is meant to override styles from the master
stylesheet */

/* about me section */
/* About Me Page styles */
.navContainer {
  padding : 10px 20px 10px 10px;
  position : static;
}
.fullWidth {
  color : white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.topSection {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.topSection .aboutSocialLinks{
  display: flex;
  justify-content: flex-end;
}
.introText {
  position: static;
  text-align: left;
  word-wrap: break-word;
  padding-bottom: 5px;
  margin: auto auto 50px auto;
  width: 90%;
}
.introText div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.skillHeader {
  width: 100%;
  text-align: center;
}
.mySkills  {
  margin : 0px;
  padding : 20px;
  display: flex;
}
.skillRange {
  width: 100%;
  padding : 10px;
}

.bioSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 10px 50px 10px;
  grid-gap: 40px;
}
.paragraph {
  color : #333;
}
.bioSection img {
  height: 530px;
  width: 100%;
}
.aboutMeHeader h1 {
  padding-top: 20px;
}
.projects {
  width: 95%;
  margin : auto;
  margin-bottom: 40px;
}
.aboutSectionProjects img {
  height: auto;
  width: 100%;
  border-radius: 5px;
  height: 650px;
}


@media (max-width: 1120px) {
  /*I've removed the padding top of the sideNav bar for the about page
  because adding it makes the height of the nav bar longer than the page itself.
  silly nav....
  */
.navContainer .sideNav {
  padding-top: 0px;
}
.mySkills  {
  margin : 0px;
  padding : 10px;
}
/*To make it up to the sideBar i've re-added the lost padding to the
first child of the list...
cool right? :) I know... am smart like that, haha :) evil laugh*/
.sideNav ul:first-child {
  padding-top : 50px;
}

/*okay now lets make sure the content shows well on mobiles

/*short bio section */
.bioSection {
  display: block;
}
/*upcoming Projects*/
.aboutSectionProjects {
  display: block;
}
.aboutSectionProjects img  {
  height: 400px;
}

@media (max-width : 900px) {

  .mySkills {
    display: block;
  }
  .introText * {
    font-size: 20px !important;
  }

  @media (max-width : 600px){

    .topSection{
      display: block;
    }
    .topSection .aboutSocialLinks{
      display: block;
    }
    .introText {
      margin: auto;
      width: 100%;
    }
    .introText div *{
      width: 85%;
      margin : auto;
      text-align: center;
    }

.bioSection {
  margin-top: 30px;
}
.bioSection img {
  height: 400px;
}

    .aboutSocialLinks {
      width: 85%;
      margin : auto;
      text-align: center;
    }
    .aboutSocialLinks ul li {
      display: inline;
      margin: 3px;
      padding: 5px;
    }
    .aboutSocialLinks ul li a {
      padding : 10px;
    }

  }/*media end mark (smaller)*/

}/*media end mark(bigger)*/


/*Okay i guess we're done here*/

}
