/*Don't fucking inspect ma code :(  */

* {
  box-sizing: border-box;
}
/*font family*/
@font-face{
  font-family: "BickhamScriptPro-Regular";
  src: url("../fonts/BickhamScriptPro-Regular.woff") format("woff"),
  url("../fonts/BickhamScriptPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;

  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1z9v6x');
  src:  url('fonts/icomoon.eot?1z9v6x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1z9v6x') format('truetype'),
    url('fonts/icomoon.woff?1z9v6x') format('woff'),
    url('fonts/icomoon.svg?1z9v6x#icomoon') format('svg');
}

/* Global Styles */
body {
  /*font-family: "montserat" "icomoon", sans-serif;*/
   /* Better Font Rendering =========== */
  font-family: 'lora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  scroll-behavior: smooth;
  padding: 0px;
}
.icon {
  margin : 10px;
  color : #57d131;
}

.heading{
  font-weight: 100;
  font-size: 40px;
}

/* container style, cuz i don't want some of the content to span the full width
of the browser */

.container {
  width : 90%;
  margin : auto;
}

.highlight{
  color : #2c3e50;
  font-weight: 900;
}

.descriptionText, .col-date {
  line-height: 1.5em;
  color : #798a9a;
  font-size: 18px;
}

.clearFloats {
  clear: both;
}
.rel {
  position: relative;
}

/*for active links...*/
.active {
  border-bottom: 2px solid #57d131;
}
a {
  text-decoration: none;
  color : white;
  cursor: pointer;
}
ul {
  list-style: none;
  padding : 0px;
}
* mark {
  background-color: #57d131;
  padding : 2px;
}
.pageTop {
  position: fixed;
  bottom : 30px;
  right : 30px;
  color : #57d131;
  font-size: 20px;
  border-radius: 50%;
  border : 1px solid #57d131;
  padding : 10px;
  cursor: pointer;
  z-index: 100;
}

/*===========slide in cool animation===============*/
.come-in {
  transform: translateY(150px);
  animation: come-in 1.3s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
}
.already-visible {
  transform: translateY(0px);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
/*=================================*/


.openNav {
  font-size: 25px;
}

.containerFullWidth {
  position: relative;
}
/* The Topmost Picture homepage background*/
.homeBackground {
  /*i might wanna set a fallback background-image*/
  background-image: url("../images/bg2.jpg");
  transition: 1.5s;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  width: 100%;
  filter: brightness(50%);
}
/*Nav space */
.navContainer {
  padding : 20px;
  position : absolute;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: transparent;
  z-index : 2;
}
/* for the name text */
.homeLink {
  margin-left: 90px;
}
/* navigation links */
.homeLink a{
  text-decoration: none;
  color : #fff;
}
.homeLink a h2 {
  /* The Topmost name text (Emmanuel) */
  border : 2px solid #fff;
  padding: 10px;
}
/* navigations... home, about, services , etc */
.navLinks {
  width: 100%;
  text-align: center;
}
.navLinks li{
  list-style: none;
}
.navLinks ul li {
  display: inline;
  margin-right: 40px;
}
.navLinks li a {
  text-decoration: none;
  color : #fff;
  font-size: 130%;
}
.openNav, #closebtn{
  cursor: pointer;
}
.navLinks li a:hover {
  transition: 0.3s;
  border-bottom : 2px solid #57d131;
}

/* Introductory Text Styles */
.introText {
  position: absolute;
  width: 100%;
  top : 25%;
  color : white;
  font-size: 150%;
  text-align: center;
  word-wrap: break-word;
  padding-bottom: 5px;
}
.introText div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introText strong {
  font-weight: 400px;
  font-size: 70px;
}
.introText h2 {
  margin-bottom: 10px;
}
.introText p {
  width: 60%;
  margin-top : 0px;
  color : rgba(255, 255, 255, 0.7);
}
.button {
  border : none;
  background-color: #57d131;
  border-radius: 40px;
  padding : 20px 30px 20px 30px;
  color : #fff;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.button:hover, .smallButton:hover {
  filter : brightness(90%);
}
.smallButton2:hover {
  opacity: 0.9;
}

/* About Me Section */
.aboutMe{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutMeContent{
  margin : auto;
  line-height: 1.2em;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
.aboutMeContent .holder{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-left : 18px;
}

.aboutMeHeader h1, h2, h3, h4 {
  font-weight: 100;
}
.liner::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 2px;
width: 50px;
background: #57d131;
z-index: 1;
margin-top: 10px;
margin-bottom: 10px;
}
.aboutMe .sideImg img{
  width: 100%;
  height: 530px;
}
/*About me header buttons */
.smallButton{
  background-color: #57d131;
  border : none;
  border-radius: 40px;
  padding : 10px 20px 10px 20px;
  color : #fff;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.smallButton2{
  background-color: #111;
  border : none;
  border-radius: 40px;
  padding : 10px 20px 10px 20px;
  color : #fff;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.aboutMeContent button {
  margin-right: 15px;
}


/* my skills section */
.mySkills{
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
}

.skillRange div {
  margin-bottom: 20px;
}
.mySkills .col1 {
  flex : 1;
  margin-right: 100px;
}
.mySkills .skillRange {
  flex : 5;
}
/* styling the progress bars and labels */
/*Styling Progress bars are a huge Pain in the fucking round balls ... Damn... !!!*/
.mySkills  label {
  display: block;
	font-family: monospace;
	font-size: 110%;
	margin-right: 5px;
	min-width : 160px;
}
.mySkills progress {
	/*first remove the default progress looks of all browsers*/
	-webkit-appearance : none ;
	-moz-appearance : none;/*for moz-firefox*/
	appearance : none;
}
/*lets create a general rule style for progress*/
.mySkills progress {
	height : 5px;
	background: #dfdfdf;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 5px;
	min-width: 95%;
  color : #57d131;
}

/*now lets style the progress anyhow we want(having disabled the default looks*/

.mySkills progress::-webkit-progress-bar {
	/*for Chrome and Safari*/
	height : 5px;
	background: #dfdfdf;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 5px;
}
.mySkills progress::-webkit-progress-value {
  /*color for the values.... green like color*/
	background-color : #57d131;
	border-radius: 5px;
}
.mySkills progress::-moz-prgress-bar {
	/*For Mozilla Firefox*/
	background-color: #dfdfdf;
	border-radius: 5px;
}
/* Big header. latest and Greatest */
.bigHeader h1{
  font-size: 14vw;
  font-weight: 900;
  line-height: 1.0;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.bigHeader span{
  font-weight: 400;
  display: block;
  text-align: right;
}

/* product List section */

.productLists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
.productImage img, .productImage2 img {
  height: 100%;
  width: 100%;
}
.productDescription {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
/* product section 2 */
.productLists2 {
  display: grid;
  grid-template-columns: .9fr 1fr;
  margin-bottom: 50px;
}
.productDescription2 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.order1{
  /* to make the desc come first */
  order : 1;
}
.order2{
  /* to make the image come second */
  order : 2;
}

/*view more products button*/

.moreProductsButton {
  padding : 20px;
}

/* Skill Section Styles */
.productsSection {
  height: 600px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 50px;
}
.productsImageHolder img {
  height: 100%;
  width: 70%;
  position: absolute;
  right: 0px;
  transition: 1s ease-out;
}
.productsImageHolder img:hover {
  transition: 1s ease-in;
  filter: brightness(40%);
  width: 75%;
}


/*I'll Die if i forget my comments...
it's a long ass code*/







/*Card Views. they are not exactly card like but you know, who
cares anyway*/

.animation{
  animation: fadeEffect 2s;
}
@keyframes fadeEffect {
	/*go from NO opacity to Full opacity*/
	from {opacity: 0;}
	to {opacity: 1;}
}
.cardViews {
  background-color : #f3f3f3;
}
.cardViews .cardHeadings {
  text-align: center;
}
.cardHeadings h1 {
  padding : 20px;
}

.cardLists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}
.cardItem{
  position: relative;
}
.cardImage{
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s all ease;
}
.cardText{
  position: absolute;
  top : 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /*left to right*/
  align-items: center; /*top to buttom*/
  height: 100%;
  text-align: center;
  /*padding : 0px 50px 0px 50px;*/
  width: 100%;
  color : #fff;
}
.subtitle{
  color : transparent;
  /* font-weight: 600; */
  transition: 1s;
  font-family: monospace;
}

.cardText:hover .subtitle{
  /* font-weight: 600; */
  color : lightseagreen;
  transition: 1s;
  font-family: monospace;
}
.logoWrapper img{
  width: 60%;
  margin-bottom: 10px;
}
/* cool animation.. i know right ? am so awesome :) */
.cardItem:hover .cardImage{
    transition : 1s;
    filter : brightness(20%);
}

/* My Resume section styles */

.myResumeSectionHeader {
  margin-left: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid a {
  color : #333 !important;
}
.resume-col-heading {
  margin-left : 15px;
}
.col-content {
  /*background-color: rgb(0,200,0,0.1); very light green */
  background-color: whitesmoke;
  padding : 50px;
  margin : 15px;
  border-radius: 7px;
  box-sizing: border-box;
}
.col-content:hover {
  transition: .3s all ease;
  border : 3px solid #57d131;
  padding : 47px;
}

/*I PRAY AND FAST AND HOPE NO ONE EVER READS MY COMMENTS : ...*/

/* Get in touch section */

.formWrapper {
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  padding : 40px;
  grid-gap: 100px;
}
.getInTouchList h3 a {
  margin-left : 20px !important;
}
.getInTouchList li{
  background-color: #333;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 0px;
  border-radius: 10px;
}
.getInTouchList li h3 {
  font-size: 20px;
}

.messageForm input[type="text"],.messageForm input[type="email"], .messageForm textarea{
  width : 80%;
  background: transparent;
  border : none;
  border-bottom: 1px solid #57d131;
  margin-bottom: 25px;
  outline : none;
  padding : 17px;
}
.messageForm textarea {
  resize: vertical;
  min-height: 180px;
}
.contactText {
  color : #333;
  line-height: 1.3em;
  font-size: 20px;
}

/*Blog section*/
.blogHeader {
  color : #333;
}

.blogSection {
  margin-top: 30px;
  padding : 10px;
  text-align: center;
}

.blogContentWrapper {
  display: flex;
  margin-bottom: 15px;
}

.blogContainer {
  margin-bottom: 70px;
}

.blogContentHolder {
  width : 30%;
  padding : 20px;
  margin : auto;
  box-sizing: border-box;
  border-radius: 7px;
}
.blogContentHolder:hover{
  box-shadow: 2px 2px 1px 1px rgb(0,0,0,0.2);
}
.blogImage:hover, .blogImage:focus img {
  transform: scale(1.05);
}
.blogHeader:hover {
  transition: 1s;
  color : #5d8358;
}
.blogImage{
  transition: 1s all ease;
  max-width: 300px;
  height: 300px;
}
.blogImage img {
  width : 100%;
  height: 100%;
  border-radius: 50%;
}

/*I Have no idea what to say but.... footers are quite predictable isn't it ?*/

/* Footer Section */
footer {
  color : white;
  background-image: url('../images/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Copyright {
  /*Copyright : a document granting exclusive right to publish and sell literary or musical or artistic work */
  padding : 50px;
  font-size: 25px;
  color : rgb(256,256,256,0.25);
}
.footerContentHolder {
  min-height: 400px;
  min-width: 100%;
  color : white;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.5fr;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
}
.footerContent {
  padding : 50px 10px 10px 10px;
}

.footerContent ul {
  list-style: none;
  padding: 0px;
}
.footerContent ul li a{
  text-decoration: none;
}
.footerTexts {
  line-height: 1.5em;
  color : rgb(256,256,256,0.25);
}
.footerSocialLinks span{
  color : #57d131;
  border : 1px solid #666;
  padding: 5px;
  border-radius: 50%;
  margin : 5px;
}
.footerContent li {
  margin-bottom: 13px;
}


.aboutSocialLinks {
  position: static;
  color : #57d131;
  padding-bottom: 5px;
  margin-right: 30px;
}
.aboutSocialLinks ul li {
  margin : 20px;
  width : 25px;
  height: 25px;
  padding: 5px;
  text-align: center;
}
.aboutSocialLinks a {
  color : #57d131;
  border : 1px solid #666;
  padding: 13px;
  border-radius: 50%;
}
.connect a{
    color : #57d131;
  border : 1px solid #666;
  padding: 5px;
  border-radius: 50%;
}
.connect ul li {
  margin : 0px 5px 20px 0px;
}


/*  MEDIA QUERY*/


/*making the views respond to tablets and regular android screens*/





@media (max-width: 1120px) {

/*wouldn't you agree that making sure your web page shows right
on mobiles are a stinky-obnocious pain in the fucking balls ? :( */

.introText .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}
.introText strong {
  font-size: 40px;
}
.introText p {
  width: 80%;
}
.button {
  border : none;
  background-color: #57d131;
  border-radius: 40px;
  padding : 20px 30px 20px 30px;
  color : #fff;
  font-size: 14px;
}

/*Phone Type menu(and tabets)*/
.navContainer {
  position: fixed;
  display: flex;
  /*spaced between the Emm text and menu icon
  this works cuz the desktop menu format is hidden so we
  only have the Emm txt and the s-m icon*/
  justify-content: space-between;
  background-color: rgb(0,0,0,0.3);
  padding : 0px 20px 0px 0px;
}
/*move the emmanuel text a little to the left on smaller screens*/
.homeLink {
  margin-left: 30px;
}
.homeLink a h2 {
  font-size: 18px;
}
  .navContainer .sideNav{
  background-color: rgb(0,0,0,0.9);
  min-height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - changed with JavaScript */
  position: fixed; /* Stay in one place */
  z-index: 2; /* Stay on top(over/above) of the page element */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sideNav li {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their border color */
.sideNav a:hover {
  transition: 0.2s;
  border-bottom : 2px solid #57d131;
}

/* Position and style the close button (top right corner) */
.sideNav #closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media (max-width: 900px){

/*making the rest of the views responsive on mobiles and tablets*/
/*this should be easy :)  */
.homeBackground {
  min-height: 500px;
}
.homeLink {
  margin-left: 10px;
}
.homeLink a h2 {
  padding: 5px;
}

.introText{
  font-size: 16px;
}
.introText strong {
  font-size: 25px;
}
.button {
  padding : 10px 20px;
  font-size: 15px;
}

  .aboutMe {
  display: block;
}
.aboutMe{
  margin-top: 50px;
}
.aboutMe .sideImg img{
  height: 350px;
}
.descriptionText {
  font-size: 16px;
  margin: 5px;
}
.smallButton{
  padding : 10px;
}
.smallButton2{
  padding : 5px 10px;
  font-size: 18px;
}


.mySkills {
  display: block;
}

.myResumeSectionHeader {
  padding-top: 1px;
}
.aboutMeHeader {
  font-size: 14px;
}
.heading {
  font-size: 25px;
  margin-bottom: 5px;
}
.block {
  display: block;
}
.col-content {
  padding : 20px;
}
.col-content:nth-child(odd) {
  border : 3px solid #57d131;
  padding : 17px;
}
.col-content:hover {
  padding : 17px;
}

.productLists {
  display: block;
}
.productLists2{
  display: block;
}
/*why the hell is center tag not turning red ? :/    */
center .button {
  background-color: #333;
}
.grid {
  display: block;
}

/*make the cards 2 cols */
.cardLists{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blogContentWrapper {
  display: block;
  width: 100%;
/*i could've made them display in twos but only if they are even.*/
}
.blogContentHolder {
  width: 80%;
  text-align: center;
}
.blogContentHolder .blogImage {
  margin : auto;
}
.blogContainer button {
  background-color: #57d131;
}
/*make the images a lil dark on mobiles, since we're not exactly
doing the over thing (it's click in this case)*/
.cardImage {
  filter: brightness(40%);
}
/*making the card texts visible*/
.subtitle {
  color : lightseagreen;
}

.formWrapper {
  display: block;
}
.messageForm input[type="text"],.messageForm input[type="email"], .messageForm textarea{
  width: 90%;
  margin-bottom: 10px;
}
.messageForm textarea {
  min-height: 120px;
}
.footerContentHolder {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px !important;
  padding: 10px;
}
.footerContent {
  padding : 10px;
}

.author {
  width: 65%;
}
.Copyright {
  /*Copyright : a document granting exclusive right to publish and sell literary or musical or artistic work */
  padding : 20px;
  font-size: 16px;
}
.footerContentHolder {
  min-height: 550px;
}

/* the page scroller */
.pageTop {
  bottom : 20px;
  right : 20px;
  font-size: 10px;
}

@media (max-width : 600px) {
  .productDescription2 {
    margin : 10px;
  }
  .blogContentHolder {
    width: 100%;
  }
  .blogImage {
    height: 250px;
    width: 100%;
  }
  .blogImage img {
    border-radius: 0%;
}
.getInTouchList li {
  height: 40px;
}
.getInTouchList li h3 {
  margin : 0px;
  font-size: 16px;
}
.contactText {
  font-size: 16px;
}


}

}/*Second(Smaller) media end section*/



}/*First(bigger) media end section*/




/* On smaller even screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}

  /*am too lazy to style anything else for this screen size ......
  If you pissed ....... get a new phone with larger screen :)   */
}
